<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

## Start Date: 11th Sept 2020
## Finish Date: 14th Sept 2020

# Lab 6.6
## Feature Encoding

### Data

**Predict the chronic kidney disease.**

This dataset can be used to predict the chronic kidney disease and it can be collected from the hospital nearly 2 months of period.

We use the following representation to collect the dataset 
- age	-	age	
- bp	-	blood pressure 
- sg	-	specific gravity 
- al	- albumin 
- su	-	sugar 
- rbc	-	red blood cells 
- pc	-	pus cell 
- pcc	-	pus cell clumps 
- ba	-	bacteria 
- bgr	-	blood glucose random 
- bu	-	blood urea 
- sc	-	serum creatinine 
- sod	-	sodium 
- pot	-	potassium 
- hemo	-	hemoglobin 
- pcv	-	packed cell volume 
- wc	-	white blood cell count 
- rc	-	red blood cell count 
- htn	-	hypertension 
- dm	-	diabetes mellitus 
- cad	-	coronary artery disease 
- appet	-	appetite 
- pe	-	pedal edema 
- ane	-	anemia 
- class	-	class




[Chronic Kidney Disease DataSet](https://archive.ics.uci.edu/ml/datasets/chronic_kidney_disease)

In [2]:

# Import Libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import metrics
from sklearn.linear_model import LogisticRegression

%matplotlib inline

#### 1. Load Data

In [3]:
# Read Data
kidney_disease_csv = 'kidney_disease.csv'
kd = pd.read_csv(kidney_disease_csv)

In [4]:
kd.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

#### 2. Perform EDA

Perform EDA. Check null values. Impute if necessary.

In [5]:
kd.shape

(400, 26)

In [6]:
kd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [7]:
kd.drop('id',axis=1,inplace=True)

In [8]:
kd.isnull().sum()

age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

#### Impute Null Values

Impute null values for numeric and object columns.

In [9]:
kd2 = kd.dropna(axis=0)

In [10]:
kd2['classification'].value_counts()

notckd    115
ckd        43
Name: classification, dtype: int64

In [11]:
kd.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

#### 3. Label Encoder

Encode labels with value between 0 and n_classes-1.

> from sklearn.preprocessing import LabelEncoder

In [12]:
# ANSWER

from sklearn import preprocessing

le = preprocessing.LabelEncoder()

In [13]:
kd2['rbc'] = le.fit_transform(kd2.loc[:, ('rbc')])
kd2['pc'] = le.fit_transform(kd2.loc[:, ('pc')])
kd2['pcc'] = le.fit_transform(kd2.loc[:, ('pcc')])
kd2['ba'] = le.fit_transform(kd2.loc[:, ('ba')])
kd2['htn'] = le.fit_transform(kd2.loc[:, ('htn')])
kd2['dm'] = le.fit_transform(kd2.loc[:, ('dm')])
kd2['cad'] = le.fit_transform(kd2.loc[:, ('cad')])
kd2['pe'] = le.fit_transform(kd2.loc[:, ('pe')])
kd2['ane'] = le.fit_transform(kd2.loc[:, ('ane')])
kd2['appet'] = le.fit_transform(kd2.loc[:, ('appet')])

<ipython-input-13-76f4e65f0820>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kd2['rbc'] = le.fit_transform(kd2.loc[:, ('rbc')])
<ipython-input-13-76f4e65f0820>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kd2['pc'] = le.fit_transform(kd2.loc[:, ('pc')])
<ipython-input-13-76f4e65f0820>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kd2['pcc'] = le.fit_transform(kd2.loc[:, ('pcc')])
<ipython-input-13-76f4e65f0820>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kd2['ba'] = le.fit_transform(kd2.loc[:, ('ba')])
<ipython-input-13-76f4e65f0820>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kd2['htn'] = le.fit_transform(kd2.loc[:, ('htn')])
<ipython-input-13-76f4e65f0820>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kd2['dm'] = le.fit_transform(kd2.loc[:, ('dm')])
<ipython-input-13-76f4e65f0820>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kd2['cad'] = le.fit_transform(kd2.loc[:, ('cad')])
<ipython-input-13-76f4e65f0820>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kd2['pe'] = le.fit_transform(kd2.loc[:, ('pe')])
<ipython-input-13-76f4e65f0820>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kd2['ane'] = le.fit_transform(kd2.loc[:, ('ane')])
<ipython-input-13-76f4e65f0820>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kd2['appet'] = le.fit_transform(kd2.loc[:, ('appet')])

In [14]:
kd2.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
3,48.0,70.0,1.005,4.0,0.0,1,0,1,0,117.0,...,32,6700,3.9,1,0,0,1,1,1,ckd
9,53.0,90.0,1.020,2.0,0.0,0,0,1,0,70.0,...,29,12100,3.7,1,1,0,1,0,1,ckd
11,63.0,70.0,1.010,3.0,0.0,0,0,1,0,380.0,...,32,4500,3.8,1,1,0,1,1,0,ckd
14,68.0,80.0,1.010,3.0,2.0,1,0,1,1,157.0,...,16,11000,2.6,1,1,1,1,1,0,ckd
20,61.0,80.0,1.015,2.0,0.0,0,0,0,0,173.0,...,24,9200,3.2,1,1,1,1,1,1,ckd

#### 4. OneHotEncoder 

Encode categorical integer features as a one-hot numeric array.

The input to this transformer should be an array-like of integers or strings, denoting the values taken on by categorical (discrete) features. The features are encoded using a one-hot (aka ‘one-of-K’ or ‘dummy’) encoding scheme. This creates a binary column for each category and returns a sparse matrix or dense array.

By default, the encoder derives the categories based on the unique values in each feature. Alternatively, you can also specify the categories manually. The OneHotEncoder previously assumed that the input features take on values in the range [0, max(values)). This behaviour is deprecated.

This encoding is needed for feeding categorical data to many scikit-learn estimators, notably linear models and SVMs with the standard kernels.

> from sklearn.preprocessing import OneHotEncoder

In [15]:
# ANSWER 
# TODO: create a OneHotEncoder object, and fit it to all of X

# 1. INSTANTIATE
enc = preprocessing.OneHotEncoder()

# 2. FIT
enc.fit(kd2)

# 3. Transform
onehotlabels = enc.transform(kd2).toarray()
onehotlabels.shape

(158, 570)

In [19]:
onehotlabels

array([[0., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 1., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]])

#### 5. Dummy Variables

Convert categorical variable into dummy/indicator variables

In [20]:
# ANSWER

kd2 = pd.get_dummies(kd2, columns = ['classification'], prefix = ['classification'] )

kd2.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,wc,rc,htn,dm,cad,appet,pe,ane,classification_ckd,classification_notckd
3,48.0,70.0,1.005,4.0,0.0,1,0,1,0,117.0,...,6700,3.9,1,0,0,1,1,1,1,0
9,53.0,90.0,1.020,2.0,0.0,0,0,1,0,70.0,...,12100,3.7,1,1,0,1,0,1,1,0
11,63.0,70.0,1.010,3.0,0.0,0,0,1,0,380.0,...,4500,3.8,1,1,0,1,1,0,1,0
14,68.0,80.0,1.010,3.0,2.0,1,0,1,1,157.0,...,11000,2.6,1,1,1,1,1,0,1,0
20,61.0,80.0,1.015,2.0,0.0,0,0,0,0,173.0,...,9200,3.2,1,1,1,1,1,1,1,0

In [21]:
kd2.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification_ckd', 'classification_notckd'],
      dtype='object')

####  6. Set Target 

Set `classification` as target.

In [23]:
X = kd2.drop(columns =['classification_ckd', 'classification_notckd'])

In [25]:
X

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
3,48.0,70.0,1.005,4.0,0.0,1,0,1,0,117.0,...,11.2,32,6700,3.9,1,0,0,1,1,1
9,53.0,90.0,1.020,2.0,0.0,0,0,1,0,70.0,...,9.5,29,12100,3.7,1,1,0,1,0,1
11,63.0,70.0,1.010,3.0,0.0,0,0,1,0,380.0,...,10.8,32,4500,3.8,1,1,0,1,1,0
14,68.0,80.0,1.010,3.0,2.0,1,0,1,1,157.0,...,5.6,16,11000,2.6,1,1,1,1,1,0
20,61.0,80.0,1.015,2.0,0.0,0,0,0,0,173.0,...,7.7,24,9200,3.2,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,1,1,0,0,140.0,...,15.7,47,6700,4.9,0,0,0,0,0,0
396,42.0,70.0,1.025,0.0,0.0,1,1,0,0,75.0,...,16.5,54,7800,6.2,0,0,0,0,0,0
397,12.0,80.0,1.020,0.0,0.0,1,1,0,0,100.0,...,15.8,49,6600,5.4,0,0,0,0,0,0
398,17.0,60.0,1.025,0.0,0.0,1,1,0,0,114.0,...,14.2,51,7200,5.9,0,0,0,0,0,0
399,58.0,80.0,1.025,0.0,0.0,1,1,0,0,131.0,...,15.8,53,6800,6.1,0,0,0,0,0,0

In [24]:
y = kd2['classification_ckd']

In [26]:
y

3      1
9      1
11     1
14     1
20     1
      ..
395    0
396    0
397    0
398    0
399    0
Name: classification_ckd, Length: 158, dtype: uint8

#### 4. Select Feature

The classes in the sklearn.feature_selection module can be used for feature selection/dimensionality reduction on sample sets, either to improve estimators’ accuracy scores or to boost their performance on very high-dimensional datasets.

##### 4.1 Univariate Selection

Univariate feature selection works by selecting the best features based on univariate statistical tests. It can be seen as a preprocessing step to an estimator. Scikit-learn exposes feature selection routines as objects that implement the transform method:

- SelectKBest removes all but the  highest scoring features
- Use sklearn.feature_selection.chi2 as score function
    > Recall that the chi-square test measures dependence between stochastic variables, so using this function “weeds out” the features that are the most likely to be independent of class and therefore irrelevant for classification.


More Reads:
[Univariate feature selection](https://scikit-learn.org/stable/modules/feature_selection.html)

- Create an instance of SelectKBest
    - Use sklearn.feature_selection.chi2 as score_func
    - Use k of your choice
- Fit X, y 
- Find top 4 features
- Transform features to a DataFrame

In [27]:
# ANSWER
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [30]:
select = SelectKBest(chi2, k=4)

select

SelectKBest(k=4, score_func=<function chi2 at 0x1266ed940>)

In [32]:
X_new = select.fit_transform(X, y) # Transform X to Features
X_new.shape

(158, 4)

In [34]:
# Print Score 
# Find Top 4 Features
pd.DataFrame(X_new)

     0    1    2      3
0    4  117   56   6700
1    2   70  107  12100
2    3  380   60   4500
3    3  157   90  11000
4    2  173  148   9200
..  ..  ...  ...    ...
153  0  140   49   6700
154  0   75   31   7800
155  0  100   26   6600
156  0  114   50   7200
157  0  131   18   6800

[158 rows x 4 columns]

In [36]:
print(select.get_support(indices=True))

[ 3  9 10 16]

In [37]:
x = X.columns[select.get_support(indices=True)].tolist()
x

['al', 'bgr', 'bu', 'wc']

In [38]:
# Transform features to a dataframe

X_new = pd.DataFrame(X, columns=x)
X_new.head()

     al    bgr     bu     wc
3   4.0  117.0   56.0   6700
9   2.0   70.0  107.0  12100
11  3.0  380.0   60.0   4500
14  3.0  157.0   90.0  11000
20  2.0  173.0  148.0   9200

##### 4.2 Recursive feature elimination

Given an external estimator that assigns weights to features (e.g., the coefficients of a linear model), recursive feature elimination (RFE) is to select features by recursively considering smaller and smaller sets of features. First, the estimator is trained on the initial set of features and the importance of each feature is obtained either through a coef_ attribute or through a feature_importances_ attribute. Then, the least important features are pruned from current set of features.That procedure is recursively repeated on the pruned set until the desired number of features to select is eventually reached.

More Reads:
[Recursive feature elimination](https://scikit-learn.org/stable/modules/feature_selection.html)

- Use RFE to extract feature
    - use LogisticRegression as estimator
    - Number of n_features_to_select as of your choice
- Fit X, y to RFE
- Find Selected Features

In [40]:
# ANSWER
from sklearn.svm import SVC
from sklearn.feature_selection import RFE

In [41]:
# ANSWER
# Create the RFE object and rank each feature
svc = SVC(kernel="linear", C=1)
rfe = RFE(estimator=svc, n_features_to_select=4, step=1)
rfe.fit(X, y)

RFE(estimator=SVC(C=1, kernel='linear'), n_features_to_select=4)

In [42]:
# Print Score 
rfe.score(X,y)

1.0

In [43]:
# Find Features
print(rfe.get_support(indices=True))

[ 3 14 18 19]

In [44]:
rfe_features = X.columns[rfe.get_support(indices=True)].tolist()
rfe_features

['al', 'hemo', 'htn', 'dm']

In [46]:
X_rfe = pd.DataFrame(X, columns= rfe_features)
X_rfe.head()

     al  hemo  htn  dm
3   4.0  11.2    1   0
9   2.0   9.5    1   1
11  3.0  10.8    1   1
14  3.0   5.6    1   1
20  2.0   7.7    1   1

#### Create multiple Classifier Model

Create multiple classifier models to predict the chronic kidney disease. Use any models of your choice. Evaluate all models and select the best model according to their performance.

In [48]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import roc_curve
from sklearn.metrics import auc

In [49]:
#do train test split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [51]:
#Naive-Bayes  

from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

# fit the training dataset on the classifier

NB =  gnb.fit(X_train, y_train)

# predict the labels on validation dataset

predictions_NB = gnb.predict(X_test)
predict_proba_NB = gnb.predict_proba(X_test)[:,1]

In [53]:
#linear svm
from sklearn import svm

clf = svm.SVC(kernel = 'linear', C = 1000, probability=True)

svm = clf.fit(X_train, y_train)
# predict the labels on validation dataset

predictions_svm = clf.predict(X_test)
predict_proba_svm = clf.predict_proba(X_test)[:,1

In [52]:
#logistic regression

logreg = LogisticRegression()

lr = logreg.fit(X_train, y_train)
# predict the labels on validation dataset

predictions_lr = logreg.predict(X_test)
predict_proba_lr = logreg.predict_proba(X_test)[:,1]

/Users/user/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [55]:
results = {
    'Naive Bayes' : [accuracy_score(y_test, predictions_NB), precision_score(y_test, predictions_NB), recall_score(y_test, predictions_NB), roc_auc_score(y_test, predict_proba_NB)],
    'Linear SVM': [accuracy_score(y_test, predictions_svm), precision_score(y_test, predictions_svm), recall_score(y_test, predictions_svm), roc_auc_score(y_test, predict_proba_svm)],
    'Logistic Regression': [accuracy_score(y_test, predictions_lr), precision_score(y_test, predictions_lr), recall_score(y_test, predictions_lr), roc_auc_score(y_test, predict_proba_lr)],}

scores = pd.DataFrame(results, index=['Accuracy', 'Precision', 'Recall', 'ROC_AUC'] , columns=['Naive Bayes', 'Linear SVM', 'Logistic Regression'])
scores

           Naive Bayes  Linear SVM  Logistic Regression
Accuracy           1.0    0.968750             0.968750
Precision          1.0    1.000000             1.000000
Recall             1.0    0.888889             0.888889
ROC_AUC            1.0    0.995169             0.990338


---



---



> > > > > > > > > © 2019 Institute of Data


---



---